.App {
	text-align: center;
	padding-top: 100px;
}

.App-clap {
	border: red solid 2px;
}

.App-icon {
	border: red solid 2px;
}

.App-count {
	border: red solid 2px;
}

.App-total {
	border: red solid 2px;
}

.resetBtn {
	border-bottom: 1px solid #bdc3c7;
	color: '#27ae60';
	margin-top: 30px;
	padding: 10px 20px;
	border-radius: 20px;
	outline: 0;
	display: block;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}

.resetMsg {
	color: black;
}
